.contact-hero-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e7826b;
    padding: 1rem;
    border-radius: 12px;
    margin: 5rem 0;
}
.contact--info-box{
    color: white;
    padding: 2.2rem 3rem;
}
.contact--info-box h1{
    font-weight: 500;
    margin: 0;
    width: 30%;
    line-height: 37px;
}
.contact--info-box h2{
    font-weight: 300;
    font-size: 16px;
    width: 60%;
}
.btn-container{
    flex-basis: 20%; 
}
#in-touch{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px
}