.design--container{
  margin: 0 auto;
  max-width: 1400px;
}
.design-title-container{
    margin: 0 auto;
    background-color: #e7826b;
    color: white;
    padding: 1.1rem;
    border-radius: 12px;
    text-align: center;
    
}
.design--container h2{
    font-weight: 400;
    font-size: 48px;
    padding-top: 1rem;
    margin: 0;
}
.design-title-container p{
    width: 40%;
    margin: 0 auto;
    font-weight: 300;
    padding: 1rem 0 1rem 0;
    font-size: 16px;
}
.projects{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  align-items: center;
  justify-items: center;
  background-color: #FFFF;
  margin-top: 50px;
}
.other-projects{
    padding: 2rem;
    display: flex;
    gap: 20px;
    justify-content: center;
}
.other-projects div{
    background-color:#e7826b;
    height: 200px;
    min-width: 400px;
}
.hide{
    display: none;
    width: 0px;
    height: 0px;
}

.project-el{
    max-width: 300px;
}
.project-img{
    margin-bottom: -10px;
}
.project-img img{
    width: 100%;
    margin: 0;
    border-radius: 10px 10px 0 0;
}
.project-info{
    text-align: center;
    padding: 1rem;
    margin: 0;
    background-color: rgba(255, 173, 155, 0.222);
    border-radius: 10px; 
}
.project-info h3{
    margin: 0;
    padding-top: 1rem;
    font-weight: 500;
    color: rgb(234, 132, 109);
    letter-spacing: 4px;
}
.project-info h4{
    color: rgb(51, 49, 54);
    font-weight: 400;
}
@media (max-width: 1110px) {
   .other-projects{
    flex-direction: column;
   } 
   .projects{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-basis: 100%;
    justify-content: center;
   }
   .project-img{
    flex-basis: 50%;
   }
   .project-img img{
     border-radius: 12px 0 0 12px;
   }
   .project-el{
    min-width: 800px;
    display: flex;
    width: unset; 
   }
  .project-info{
    
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
}
@media (max-width: 773px) {
   .design--container{
    width: 100%;
   }
   .design-title-container{
    border-radius: 0;
   }

   .projects{
    display: unset;
   }
   .project-el{
    width: unset;
    display: unset;
   }
   .project-el div{
    width: 80%;
    margin: 0 auto;
   }
   .other-projects{
    display: unset;
   }
   .other-projects div{
    margin: 10px 0;
   }
   .project-img img{
    margin: 40px 0 0 0;
    border-radius: 12px 12px 0 0;
   }

}