nav{
    padding: 2.2rem 0;
    display: flex;
    justify-content: space-between;
}
.logo img{
    max-width: 200px;
}
.link-el{
    margin: 0 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #333136;
    font-size: 13px;
    letter-spacing: 1.5px;
}
.nav-elements{
    display: flex;
    flex-direction: row;
  }

.hamburger{
    display: none;
}
.hide{
    display: none;
} 
@media (max-width: 687px) {
    .nav{
        position: relative;
    }
    .nav-elements{
        flex-direction: column;
        position: fixed;
        width: 100%;
        height: 40%;
        top: 80px;
        left: 0;
        right: 0;
        z-index:999;
        background-color: #1D1C1E;
        display: flex;
    }
    .link-el{
        padding: 20px 10px;
        font-size: 20px;
    }
    .hamburger{
        display: block;
    }
}

