.projects--grid{
   padding: 4rem 0 4rem 0;
   display: grid; 
   gap: 20px;
   grid-template-areas: "web app"
                        "web graph";
}
#web-el{
    grid-area: web;
}
.web-el{
    height: 400px;
}
#app-el{
    grid-area: app;
}
#graph-el{
    grid-area: graph;
}
.design--title{
    text-transform: uppercase;
    color: #FFFF;
    text-align: center; 
    border-radius: 12px;
    min-height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.design--title h2{
    font-weight: 500; 
    color: #FFFF;
    font-size: 30px;
    margin: 0;
}
.design--title p{
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 15px;
}
.project-link{
    text-decoration: none;
    height: 190px;
}
.leaf{
    width: 1000px;
    height: 500px;
    position: absolute;
    z-index: -1;
}
#leaf-1{margin:-300px;}
#leaf-2{margin: 90px 0 0 500px;}

