body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    font-family: 'Jost', sans-serif;
    overflow-x: hidden;
}
.parent-container{
    width: 70%;
    margin: 0 auto;
}
.general-btn{
   padding: 16px 20px; 
   background-color: white;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   color: #333136;
}
.btn-link{
    text-decoration: none;
    text-transform: uppercase;
    color: #333136;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1.2px;
    font-family: 'Jost', sans-serif;
}
@media (max-width: 1158px){
    .parent-container{
        width: 90%;
    }
}