.locations-parent{
    width: 100%;
    margin: 0;
    padding: 0;
}
.narrow-container{
    width: 80%;
    margin: 0 auto;
}
.locations-grid{
    display: grid;
    padding: 2rem;
    gap: 30px;
    justify-content: center;
    grid-template-areas:  "c c mc"
                          "ma a a"
                          "uk uk muk";
}
#canada{
    grid-area: c;
}
#canada-map{
    grid-area: mc;
}
#australia{
    grid-area: a;
}
#australia-map{
    grid-area: ma;
}
#uk{
    grid-area: uk;
}
#uk-map{
    grid-area: muk;
}
.location-el{
    background-color: #FDF3F0;
    border-radius: 15px;
    width: 700px;
}
.location-el h1{
    color: #E7816B;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 36px;
    margin: 3rem 0 1rem 5rem;
}

.location-map img{
    width: 280px;
    height: 280px;
    border-radius: 15px;
}
.location-infobox{
    display: flex;
    gap: 50px;
    margin: 1rem 0 1rem 5rem;
}
.location-infobox p{
    margin: 5px;
}
@media (max-width: 1050px){
    .narrow-container{
        width: 90%;
    }
    .locations-grid{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .location-el{
        width: 95%;
    }
    .location-map img{
        width: 95%;
        height: 300px;
    }
    .location-infobox{
        margin: 10px 0 40px 30px;
    }
    .location-el h1{
        margin: 30px 0 0 30px;
    }
    #canada-map{
        margin-bottom: 4rem;
    }
    #australia{
        margin-bottom: 4rem; 
    }
}